.Letter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border: 1px solid #333;
}

.Letter--empty {
  background-color: #fff;
}

.Letter--wrong {
  background-color: rgb(133, 133, 133);
  color: #fff;
}

.Letter--almost {
  background-color: rgb(211, 214, 39);
  color: #333;
}

.Letter--correct {
  background-color: rgb(19, 148, 19);
  color: #fff;
}
